In [27]:
import numpy as np
import pandas as pd
import requests

from construct_dataset import get_publisher_metadata_parallel

In [5]:
df = pd.read_excel("data/aluminum/AL_CMU_benchmark.xlsx")
df.shape

(330, 67)

In [6]:
df = df[df["Pfeiffer_no"].notnull()]
df

,Ref,double-checked,name,AA,temper,size,dir,YS [MPa],UTS [Mpa],elong [%],...,Sr,V,Yb,Other properties / data,Microstructure [None / OM / SEM / EBSD / TEM / APT],doi,Pfeiffer_no,series,who added,Notes
0,Kolahgar2016,True,1.5,1100,H18,1.5,NaN,180.2,191.3,4.8,...,NaN,0.01,NaN,NaN,NaN,10.1007/s11661-016-3375-0,4,1000,NaN,NaN
1,Kolahgar2016,True,2,1100,H18,2,NaN,177.2,188.3,5.6,...,NaN,0.01,NaN,NaN,NaN,10.1007/s11661-016-3375-0,5,1000,NaN,NaN
2,Kolahgar2016,True,2.5,1100,H18,2.5,NaN,165.3,175.3,6.2,...,NaN,0.01,NaN,NaN,NaN,10.1007/s11661-016-3375-0,6,1000,NaN,NaN
3,Abdulstaar2013,True,As-received,1050,NaN,NaN,NaN,20.0,72.0,120.0,...,NaN,0.01,NaN,NaN,EBSD,10.1016/j.msea.2012.12.046,7,1000,NaN,NaN
4,Fu2014,True,2A97,NaN,T4,NaN,NaN,NaN,443.5,18.5,...,NaN,NaN,NaN,NaN,"OM, XRD",10.1016/j.msea.2014.08.038,34,2000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Khan2017,True,AA7475-T761,7475,T761,NaN,NaN,430.0,468.0,13.0,...,NaN,NaN,NaN,NaN,NaN,10.1016/j.jallcom.2016.11.389,1264,7000,NaN,NaN
326,Chakherlou2009,True,AL 7075-T6,7075,T6,NaN,NaN,503.0,600.0,NaN,...,NaN,NaN,NaN,NaN,NaN,10.1016/j.engfailanal.2008.03.002,1269,7000,NaN,NaN
327,Singh2004,True,0.22Sc,8090,T8,50mm,LT,397.0,460.0,5.4,...,NaN,NaN,NaN,NaN,NaN,10.1016/j.scriptamat.2003.12.001,1274,8000,NaN,NaN
328,Singh2004,True,0.11Sc,8090,T8,50mm,LT,399.0,482.0,7.7,...,NaN,NaN,NaN,NaN,NaN,10.1016/j.scriptamat.2003.12.001,1275,8000,NaN,NaN
329,Singh2004,True,0Sc,8090,T8,50mm,LT,381.0,454.0,9.2,...,NaN,NaN,NaN,NaN,NaN,10.1016/j.scriptamat.2003.12.001,1276,8000,NaN,NaN

In [8]:
len(df[df["double-checked"]==1.0]["doi"].unique())

154

In [9]:
meta_df = get_publisher_metadata_parallel(df["doi"].unique())

100%|██████████| 154/154 [00:00<00:00, 2748607.73it/s]

In [10]:
meta_df["publisher"].value_counts()

publisher
Elsevier BV                                132
Springer Science and Business Media LLC     22
Name: count, dtype: int64

In [11]:
joint_al_df = df.merge(meta_df, on="doi")

In [13]:
joint_al_df.to_csv("data/aluminum/al_data.csv", index=False)

In [15]:
joint_al_df[joint_al_df["publisher"] == "Springer Science and Business Media LLC"].shape

(35, 73)

In [16]:
joint_al_df.notnull().sum()

Ref                    328
double-checked         330
name                   323
AA                     226
temper                 251
                      ...
journal                330
publisher              330
included_in_dataset    330
pdf                    330
xml                    330
Length: 73, dtype: int64

In [17]:
joint_al_df["Hardness location"].fillna("missing").value_counts()

Hardness location
missing    240
table       53
plot        29
text         8
Name: count, dtype: int64

In [19]:
joint_al_df["Has HT [True / False]"].value_counts()

Has HT [True / False]
True     213
False    117
Name: count, dtype: int64

In [20]:
joint_al_df["Has comp [True / False / nominal]"].value_counts()

Has comp [True / False / nominal]
True       256
nominal     36
False       35
Nominal      3
Name: count, dtype: int64

In [23]:
meta_df = pd.read_csv("data/aluminum/publisher_metadata.csv")

In [30]:
rng = np.random.default_rng(8675309)

xml_train_dois = rng.choice(meta_df[meta_df["xml"]]["doi"].unique(), 3)
pdf_train_dois = rng.choice(meta_df[meta_df["pdf"]]["doi"].unique(), 3)

In [31]:
xml_train_dois

array(['10.1016/j.scriptamat.2004.07.020',
       '10.1016/j.engfailanal.2010.08.007',
       '10.1016/j.jallcom.2013.08.214'], dtype=object)

In [32]:
pdf_train_dois

array(['10.1007/s11661-010-0395-z', '10.1007/s11661-008-9739-3',
       '10.1007/s11837-016-1896-z'], dtype=object)